@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: "Segoe Fluent Icons";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../assets/fonts/Segoe-Fluent-Icons.ttf") format("truetype");
}

@custom-variant dark (&:is(.dark *));

@layer base {
	:root {
		--radius: 0.65rem;
		--background: oklch(1 0 0);
		--foreground: oklch(0.141 0.005 285.823);
		--card: oklch(1 0 0);
		--card-foreground: oklch(0.141 0.005 285.823);
		--popover: oklch(1 0 0);
		--popover-foreground: oklch(0.141 0.005 285.823);
		--primary: oklch(0.577 0.245 27.325);
		--primary-foreground: oklch(0.971 0.013 17.38);
		--secondary: oklch(0.967 0.001 286.375);
		--secondary-foreground: oklch(0.21 0.006 285.885);
		--muted: oklch(0.967 0.001 286.375);
		--muted-foreground: oklch(0.552 0.016 285.938);
		--accent: oklch(0.967 0.001 286.375);
		--accent-foreground: oklch(0.21 0.006 285.885);
		--destructive: oklch(0.577 0.245 27.325);
		--border: oklch(0.92 0.004 286.32);
		--input: oklch(0.92 0.004 286.32);
		--ring: oklch(0.704 0.191 22.216);
		--chart-1: oklch(0.808 0.114 19.571);
		--chart-2: oklch(0.637 0.237 25.331);
		--chart-3: oklch(0.577 0.245 27.325);
		--chart-4: oklch(0.505 0.213 27.518);
		--chart-5: oklch(0.444 0.177 26.899);
		--sidebar: oklch(0.985 0 0);
		--sidebar-foreground: oklch(0.141 0.005 285.823);
		--sidebar-primary: oklch(0.577 0.245 27.325);
		--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
		--sidebar-accent: oklch(0.967 0.001 286.375);
		--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
		--sidebar-border: oklch(0.92 0.004 286.32);
		--sidebar-ring: oklch(0.704 0.191 22.216);
	}

	.dark {
		--background: oklch(0.141 0.005 285.823);
		--foreground: oklch(0.985 0 0);
		--card: oklch(0.21 0.006 285.885);
		--card-foreground: oklch(0.985 0 0);
		--popover: oklch(0.21 0.006 285.885);
		--popover-foreground: oklch(0.985 0 0);
		--primary: oklch(0.637 0.237 25.331);
		--primary-foreground: oklch(0.971 0.013 17.38);
		--secondary: oklch(0.274 0.006 286.033);
		--secondary-foreground: oklch(0.985 0 0);
		--muted: oklch(0.274 0.006 286.033);
		--muted-foreground: oklch(0.705 0.015 286.067);
		--accent: oklch(0.274 0.006 286.033);
		--accent-foreground: oklch(0.985 0 0);
		--destructive: oklch(0.704 0.191 22.216);
		--border: oklch(1 0 0 / 10%);
		--input: oklch(1 0 0 / 15%);
		--ring: oklch(0.396 0.141 25.723);
		--chart-1: oklch(0.808 0.114 19.571);
		--chart-2: oklch(0.637 0.237 25.331);
		--chart-3: oklch(0.577 0.245 27.325);
		--chart-4: oklch(0.505 0.213 27.518);
		--chart-5: oklch(0.444 0.177 26.899);
		--sidebar: oklch(0.21 0.006 285.885);
		--sidebar-foreground: oklch(0.985 0 0);
		--sidebar-primary: oklch(0.637 0.237 25.331);
		--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
		--sidebar-accent: oklch(0.274 0.006 286.033);
		--sidebar-accent-foreground: oklch(0.985 0 0);
		--sidebar-border: oklch(1 0 0 / 10%);
		--sidebar-ring: oklch(0.396 0.141 25.723);
	}

	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
}

@utility border-border {
	border-color: var(--border);
}

@utility bg-* {
    background-color: --value(--bg-*);
}


@utility text-* {
	color: --value(--text-*);
}

@theme inline {
	--font-ui: "Segoe Fluent Icons", sans-serif;
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--bg-background: var(--background);
	--bg-foreground: var(--foreground);
	--bg-muted: var(--muted);
	--bg-muted-foreground: var(--muted-foreground);
	--bg-popover: var(--popover);
	--bg-popover-foreground: var(--popover-foreground);
	--bg-border: var(--border);
	--bg-input: var(--input);
	--bg-card: var(--card);
	--bg-card-foreground: var(--card-foreground);
	--bg-primary: var(--primary);
	--bg-primary-foreground: var(--primary-foreground);
	--bg-secondary: var(--secondary);
	--bg-secondary-foreground: var(--secondary-foreground);
	--bg-accent: var(--accent);
	--bg-accent-foreground: var(--accent-foreground);
	--bg-destructive: var(--destructive);
	--bg-ring: var(--ring);
	--text-background: var(--background);
	--text-foreground: var(--foreground);
	--text-muted: var(--muted);
	--text-muted-foreground: var(--muted-foreground);
	--text-popover: var(--popover);
	--text-popover-foreground: var(--popover-foreground);
	--text-border: var(--border);
	--text-input: var(--input);
	--text-card: var(--card);
	--text-card-foreground: var(--card-foreground);
	--text-primary: var(--primary);
	--text-primary-foreground: var(--primary-foreground);
	--text-secondary: var(--secondary);
	--text-secondary-foreground: var(--secondary-foreground);
	--text-accent: var(--accent);
	--text-accent-foreground: var(--accent-foreground);
	--text-destructive: var(--destructive);
	--text-ring: var(--ring);
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
