:host {
  li {
    border: 1px solid transparent;

    &:hover {
      border-color: rgb(100, 116, 139);
    }

    &.active {
      background-color: rgb(100, 116, 139);
      color: white;

      ::ng-deep svg {
        path {
          fill: white;
        }
      }
    }
  }
}
