$neutral: #0d86f0;
$warn: #eab106;
$success: #198754;
$error: #d62436;

:host {
  ::ng-deep {
    color: rgb(248, 250, 252);

    button {
      border-color: rgb(248, 250, 252);

      &:hover {
        background: rgb(248, 250, 252);
      }
    }

    svg path {
      fill: rgb(248, 250, 252);
    }
  }

  &.neutral {
    background: $neutral;

    ::ng-deep button:hover {
      color: $neutral;
    }
  }

  &.warn {
    background: $warn;

    ::ng-deep button:hover {
      color: $warn;
    }
  }

  &.success {
    background: $success;

    ::ng-deep button:hover {
      color: $success;
    }
  }

  &.error {
    background: $error;

    ::ng-deep button:hover {
      color: $error;
    }
  }
}
