:host {
  .loader {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 31px;
      bottom: 15px;
      width: 29px;
      height: 29px;
      border-radius: 50%;
      border: 5px solid #000;
      border-bottom-color: #ff3d00;
      box-sizing: border-box;
      animation: rotation 300ms linear infinite;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
