<ng-container *ngIf="appDeps.size || devDeps.size">
  <div class="flex flex-1 min-h-0">
    <app-container-resizable className="flex flex-col border-r-2 min-w-max" [maxPercentage]="70">
      <div class="bg-slate-200 pl-2 py-1 select-none">EXPLORER</div>
      <div class="flex-1 min-h-0">
        <overlay-scrollbars class="h-full w-full pr-5 pl-2" [defer]="true">
          <app-display-package 
            *ngIf="appDeps.size" 
            name="Dependencies" 
            [dataSource]="appDeps" 
            [highlightedPackages]="highlightedDeps"
            [(selectedPackage)]="selectedPackage"
            (selectedPackageChange)="onSelectedPackageChange($event)"
          ></app-display-package>
          <app-display-package 
            *ngIf="devDeps.size" 
            name="Dev Dependencies" 
            [dataSource]="devDeps" 
            [highlightedPackages]="highlightedDeps"
            [(selectedPackage)]="selectedPackage"
            (selectedPackageChange)="onSelectedPackageChange($event)"
          ></app-display-package>
        </overlay-scrollbars>
      </div>
    </app-container-resizable>
    <div class="flex-1">
      <app-package-viewer [(selectedPackage)]="selectedPackage"></app-package-viewer>
    </div>
  </div>
</ng-container>
